body{
    background-size: cover;
    position: center;
}


.link{
    background-color: lightblue;
    font-size: 20px;
    border-radius: 10px;
    width: 300px;
    margin-top: 15px;;
}

.heading{
    font-size: 25px;
    background-color: cadetblue;
}

.heading:hover{
    width: 320px;
    background-color: darkcyan;
}

.link:hover{
    width: 330px;
    font-size: 27px;
}

